.form {
    display: flex;
    grid-column: 2;
    margin: 10px 0;
    justify-content: space-around;
    align-items: center;
}

.form__input {
    flex-grow: 4;
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    margin-left: 20px;
}

.form__button {
    padding: 10px;
    background-color: hsl(180, 100%, 25%);
    color: #fff;
    border: none;
    transition: 0.3s;
}

.form__button:hover {
    transform: scale(1.1);
}

.form__button:active {
    background: hsl(180, 100%, 35%);
}

@media (max-width: 767px) {
    .form__input {
        margin: 0 0 10px;
        width: 90%;
    }
    .form__button {
        flex-shrink: 0;
        flex-grow: 0;
        margin-bottom: 10px;
        width: 90%;
    }
    .form {
        grid-template-columns: 1fr;
        flex-direction: column;
    }
}