
.list__content--done {
    text-decoration: line-through;
}

.list__content {
    color: #333;
    word-break: break-all;
}

.list__item {
    display: grid;
    grid-template-columns: auto 1fr auto; 
    padding: 10px;
    grid-gap: 20px;
    border-bottom: 1px solid #aaa;
    margin-bottom: 10px;
    align-items: center;
}

.list__item--hidden {
    display: none;
}

.taskList {
    list-style-type: none;
    margin: 0 10px;
    padding: 10px;
}

.list__button {
    display: flex;
    padding: 5px;
    font-size: 20px;
    width: 33px;
    height: 33px;
    color: white;
    border: none;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.list__button--done {
    background-color: green;
    border-bottom: 1px solid rgb(240, 236, 236);
    color: #fff;
    grid-column: 1;
}

.list__button--done:hover {
    background-color: hsl(124, 64%, 39%);
}

.list__button--remove {
    background-color: #f00;
    color: #fff;
    grid-column: 3;

}

.list__button--remove:hover {
    background-color: rgb(255, 89, 89);
}

.list__button:hover {
    cursor: pointer;
}

.list__button:active {
    outline: 2px solid black;
}
